       body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: gray;
        color: white;
        text-align: center;
        padding-top: 100px;
       }
       h1{
        display:none;
       }
       /*smartphone*/
       @media only screen and (max-width:400px){
        body{
            background: red;

        }
        #smartphone h1{
            display:block;
        }
       }

              /*tablet*/
       @media(min-width: 401px) and (max-width:600px){
        body{
            background: purple;

        }
        #tablet h1{
            display:block;
        }
       }


              /*nromal*/
       @media(min-width:601px) and (max-width:700px){
        body{
            background: green;

        }
        #normal h1{
            display:block;
        }
       }

              /*widescreen*/
       @media(min-width: 701px){
        body{
            background: black;

        }
        #widescreen h1{
            display:block;
        }
       }


                     /*landscape*/
       @media(max-height: 500px){
        body{
            background: orange;

        }
        #landscape h1{
            display:block;
        }
       }

